@font-face {
  font-family: 'Oakside';
  src: url('./assets/fonts/Oakside.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-border {
  -webkit-text-stroke: 2px black; /* Border color and width */
  color: transparent; /* Text fill transparent */
}
.text-border-Dark {
  -webkit-text-stroke: 2px white; /* Border color and width */
  color: transparent; /* Text fill transparent */
}



.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
